# -------------------------
# Frontend (highlight-client)
# -------------------------
highlight-client/node_modules/
highlight-client/.vite/
highlight-client/node_modules/.vite/
highlight-client/dist/
